@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 237, 205;
  --background-end-rgb: 250, 237, 205;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 250, 237, 205;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 20, 20, 20;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    height: fit-content;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
